<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NzkxNjg2MTIsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCIzNjVkMDZlZC0zMTc1LTRlOWMtODgyOS1hNGRiZTg4MTZlZjRcIixcInNlY3JldEtleVwiOlwiOGQ4YTEyYzczMmJhNGJhMGE1YzNmYTI4MTFiMGYwNmVcIn0ifQ.i7AiHoc9kq1xeNoZ8hZN-fGu6-dDViZpC8e9a5_XXqg" />
    <option name="deviceId" value="365d06ed-3175-4e9c-8829-a4dbe8816ef4" />
    <option name="refreshToken" value="e57b4951d0e749dcab08870291c2d2a8" />
  </component>
</application>